<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jm.caloriediary">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Meal"/>
        <activity android:name=".FoodSearch"/>
        <activity android:name=".UserInfo"/>
        <activity android:name=".DailyDietRecord"/>
        <activity android:name=".EnterUserInfo"/>
        <activity android:name=".Main"/>
    </application>

</manifest>